<a href="https://colab.research.google.com/github/muhammad-farhan67/Python-for-Beginners/blob/main/Adress_of_variable_in_memory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1234324
print(id(a))
# id() function is used to find the adress of variable in memory
b = 67889
print(id(b))
# here the adress of a variable and b is different we can assign same adress by assigning a=b

136551690975472
136551690974000

In [ ]:
a=b
print(id(a))
print(id(b))
# now you can check it is showing that they  both have same adress

136551690974000
136551690974000

In [ ]:
# same method can be applied to string and float

In [ ]:
# in case the value of variables same there adress can be same except there is float datatype
a = 123
b = 123
print(id(a))
print(id(b))

136552970702896
136552970702896

In [ ]:
# in case of string
string1 = "farhan"
string2 = "farhan"
print(id(string1))
print(id(string2))

136551689499376
136551689499376

In [ ]:
# but in case of float this not gonna happen because after decimal point numbers can vary and due to low accuracy compiler give them seperate memory
a = 34.1
b = 34.1
print(id(a))
print(id(b))

136551689220080
136551690976688