<a href="https://colab.research.google.com/github/muhammad-farhan67/Python-for-Beginners/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [3]:
x = 5
print(type(x))
# type() function is used to find the type of value store in variable

<class 'int'>

In [2]:
x = 34.21
print(type(x))

<class 'float'>

In [1]:
x = "Farhan"
# x = 'Farhan'
print(type(x))

<class 'str'>

In [5]:
x = True
# x = False
print(type(x))
# bool datatype

<class 'bool'>

In [6]:
x = range(6)
print(type(x))
# range datatype

<class 'range'>

In [7]:
x = ["apple","banana","orange"]
print(type(x))
# list Datatype

<class 'list'>

In [11]:
x = ("apple","banana","orange")
print(type(x))
# tuple datatype

<class 'tuple'>

In [10]:
x = {"apple","banana","orange"}
print(type(x))
# set datatype

<class 'set'>

In [12]:
x = frozenset({"apple","banana","orange"})
print(type(x))
# frozenset datatype

<class 'frozenset'>

In [13]:
x = {"Name":"Farhan","Age":21}
print(type(x))
# dict datatype

<class 'dict'>