<a href="https://colab.research.google.com/github/muhammad-farhan67/Python-for-Beginners/blob/main/FirstClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello,World")
# printing hello world print function in python used to show output
# and this is a commentin python by adding hash on right side of line or entering ctrl+/ and it is single line comment and it is not interpret by compiler
"""
 this is a multiline comment
which is add by triple openig and closing quotes
 """

Hello,World

' \n this is a multiline comment\nwhich is add by triple openig and closing quotes\n '

In [ ]:
n = "python class"
print(type(n))
# printing type of data by using type () inside print ()

<class 'str'>

Python for beginners

In [ ]:
n = 12345
print(type(n))

# also checking the type of integer

<class 'int'>

In [ ]:
n = 12.45
print (type(n))
# type for decimal numbers also there is double for large decimal number

<class 'float'>

In [ ]:
name = "icodeguru"
motive = "Learn , Share , Grow"
withWhome = "Together"
# printing the variables and their type separately and together
print(name)
print(motive)
print(withWhome)
print(type(name))

print(name,motive,withWhome)
print(name + motive + withWhome)
# Concatenation add + sign and comma between string
# adding comma adds a space between the strings and plus sign only join them by not adding space between strings

icodeguru
Learn , Share , Grow
Together
<class 'str'>
icodeguru Learn , Share , Grow Together
icodeguruLearn , Share , GrowTogether

In [ ]:
# those words which we cannot use as variables are called reserved words
# keywords such as if , for ,then ,print , include etc
# for = "icodeguru"
# print(for)
# print = "icodeguru"
# print(print)
# for further you can check on python.org

In [ ]:
Myname = "farhan"
print(Myname)

farhan