<a href="https://colab.research.google.com/github/muhammad-farhan67/Python-for-Beginners/blob/main/Typecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from os import truncate
# we can also change the datatypes of a value it help us when we take input from user which is in string and we sometimes have to apply mathematical
# operations on that values
x = 23.1
print (x)
print (type(x))
x = int (x)
print (x)
print (type(x))
# it will change the datatype from float to integer and truncates the decimal part

23.1
<class 'float'>
23
<class 'int'>

In [7]:
x = 245
print (x)
print (type(x))
x = float (x)
print (x)
print (type(x))
# it will change the datatype from integer to float and add 0 in the decimal part

245
<class 'int'>
245.0
<class 'float'>

In [8]:
x = 345
print (x)
print (type(x))
x = str (x)
print (x)
print (type(x))
# it will change the datatype from integer to string

345
<class 'int'>
345
<class 'str'>

In [10]:
x = "564"
print (x)
print (type(x))
x = int (x)
print (x)
print (type(x))
# it will change the datatype from string to integer

564
<class 'str'>
564
<class 'int'>

In [12]:
x = 456.32
print (x)
print (type(x))
x = str (x)
print (x)
print (type(x))
# it will change the datatype from float to string

456.32
<class 'float'>
456.32
<class 'str'>

In [13]:
x ="653.23"
print (x)
print (type(x))
x = float (x)
print (x)
print (type(x))
# it will change the datatype from string to float

653.23
<class 'str'>
653.23
<class 'float'>

In [15]:
# x ="653.23"
# print (x)
# print (type(x))
# x = int (x)
# if we want to chamge the decimal number in form of string to integer we cannot directly do that we have to first change it from string
#  to decimal and then to integer
# print (x)
# print (type(x))

In [19]:
# x = "typecasting"
# print (x)
# print (type(x))
# x = int (x)
# print (x)
# print (type(x))
# it will also throw an error because character cannot be changed in to numbers and viceversa

In [20]:
x = "typecasting"
print (x)
print (type(x))
x = bool (x)
print (x)
print (type(x))
# but we can change the character string to bool and vice versa

typecasting
<class 'str'>
True
<class 'bool'>

In [22]:
x = True
print (x)
print (type(x))
x = str(x)
print (x)
print (type(x))

True
<class 'bool'>
True
<class 'str'>

In [23]:
x = 245
print (x)
print (type(x))
x = bool (x)
print (x)
print (type(x))
# it can also apply to numbers and change them to bool

245
<class 'int'>
True
<class 'bool'>

In [24]:
x = 456.32
print (x)
print (type(x))
x = bool (x)
print (x)
print (type(x))

456.32
<class 'float'>
True
<class 'bool'>

In [26]:
x ="653.23"
print (x)
print (type(x))
x = bool(x)
print (x)
print (type(x))

653.23
<class 'str'>
True
<class 'bool'>

In [27]:
x = True
print (x)
print (type(x))
x = int(x)
print (x)
print (type(x))
# we can also change the type of bool to integer it will give its value 1 for true and 0 for false because they are boolean

True
<class 'bool'>
1
<class 'int'>

In [29]:

x = True
# x = False
print (x)
print (type(x))
x = float(x)
print (x)
print (type(x))
# same for float but it will add 0 after decimal 1.0 for true and false

False
<class 'bool'>
0.0
<class 'float'>